body{
    margin-left: 2%;
    margin-right: 2%;
    background-color: azure;
    font-family: 'Open Sans', sans-serif;
}

/*tags gerais no conteúdo*/
li em{
    text-decoration: underline;
}
strong{
    color: rgb(0, 112, 112)
}

/*topo do site*/
h1{
    text-align: center;
    font-family: 'Barlow', sans-serif;
}
#foto-perfil{
    text-align: center;
}
#img-foto-perfil{
    border-radius: 50%;
}
#descrição{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/*habilidades*/
ul li a {
    text-decoration: none;
    line-height: 25px;
}
.prova{
    border: 1px solid #00707A;
}

/*referências*/
#referencias h3{
    text-decoration: underline;
}