body{
    margin-left: 2%;
    margin-right: 2%;
    background-color:azure;
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
}
#foto-perfil{
    text-align: center;
}
#img-foto-perfil{
    border-radius: 50%;
}
#descrição{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}